/*global*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
/*media*/
@media screen and (max-width:991px) {
    
}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:600px) {
    
}
@media screen and (max-width:400px) {
    
}