html{
    font-size: 62.5%;
}
$theme:#06173A;
$header:#020B1B;
$main:#C12645;
@mixin foco {
    font-size: 1.8rem;
    color: white;
}
@import 'header';
.btn {
    padding: 0.8rem 1.8rem !important;
    background: $main;
    color: white !important;
    border-radius: 2rem !important;
    font-size: 1.4rem !important;
    transition: 1s ease;
}

//hero section
.hero{
    background: $theme;
    h1{
        font-size: 4.4rem;
        color:white;
    strong{
        color:$main;
    }
}
p{
    color: white;
    font-size: 1.5rem;
    width: 45rem;
    margin: 3rem 0rem;
}
 .innerhero{
        padding:10.2rem 0rem;
    }
    .musicimg{
         animation: heroanim 2s ease-in-out alternate infinite;
    }
}
@keyframes heroanim{
    0%{
        transform: translateY(1.4rem) rotate(2deg);
    }
    100%{
        transform: translateY(-1.4rem) rotate(-2deg);
    }
}
//media queries
@import 'media';