 <footer>
      <div
        class="
          footer
          bg-black
          px-2
          py-4
          flex flex-col
          justify-center
          items-center
          border-t-2 border-yellow-500
        "
      >
        <img
          class="md:w-1 w-10/12"
          src="./img/footer-img.png"
          alt="footer-img"
        />
        <h3 class="text-center text-xs md:text-base uppercase text-white mt-2">
          &COPY; 2018-
          <script>
            document.write(new Date().getFullYear());
          </script>
          pubg corporation.all rights reserved
        </h3>
      </div>
    </footer>
    <script src="./js/alpine.min.js" defer></script>
    <script src="./js/main.js"></script>
  </body>
</html>