 <footer x-data="pubg">
      <div
        class="
          footer
          bg-black
          px-2
          py-4
          flex flex-col
          justify-center
          items-center
          border-t-2 border-yellow-500
        "
      >
        <img
          class="w-72 md:w-80"
          src="./img/footer-img.png"
          alt="footer-img"
        />
        <h3 class="text-center text-xs md:text-base uppercase text-white mt-2" x-ref="copyright_text"></h3>
      </div>
    </footer>
    <script src="./js/alpine.min.js" defer></script>
    <script src="./js/main.min.js"></script>
  </body>
</html>